[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
#selenium ie. automation-testing framework
#selenium = "*"        # latest version #TODO re-enable this when the bug below is solved i.e. https://github.com/SeleniumHQ/docker-selenium/issues/521#issuecomment-315665029
selenium = "*"  # required this version to dodge the bug ref. https://github.com/SeleniumHQ/docker-selenium/issues/521#issuecomment-315665029
pyvirtualdisplay = "*" # required Xvfb when running on Ubuntu Server

requests = "*" # make web request normally
psycopg2-binary = "*"

# timestamp
python-dateutil = "*"
pytz = "*"

# unittest
pytest = "*"


[requires]
python_version = "3.6"

